h1 a {
  color: #443525;
}
.typewriteContainer {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
h1 {
  z-index: 2;
}
.parallax-container .parallax img {
  z-index: -1;
}
.tooltipped {
  margin: 10px;
  background-color: #c12534;
}

.page-footer {
  background-color: #4c6453;
}
.sidenav-trigger {
  z-index: 3;
}
.card {
  border-radius: 5px;
  background-color: #c12534;
}
.card-content {
  height: 200px;
  overflow: hidden;
}
